<footer>
    <p>Todos os direitos reservador para <a target="_blank" href="https://github.com/DevzVictor">Victor</a></p>
    <p>Dados retirados de <a target="_blank" href="https://www.amazon.com.br/s?k=48+leis+do+poder&crid=135FGU6JCQ6BW&sprefix=48%2Caps%2C310&ref=nb_sb_ss_ts-doa-p_1_2">Amazon</a></p>
</footer>