<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The book on the screen</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <a href="/home"><picture>
            <source media="(max-width: 650px)" srcset="img/logo-responsiva.png">
            <img src="img/logo.png" alt="logo">
        </picture></a>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
        </ul>
    </nav>
    <header>
    </header>

    <main>
        <section id="cadastro">
            <h2>Cadastre um novo Livro!</h2>
            <form action="/create" method="post">

                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required >

                <label for="imagem">Link da Imagem</label>
                <input type="text" name="imagem" id="imagem" required>

                <label for="resumo">Resumo:</label>
                <input type="text" name="resumo" id="resumo" required>

                <button id="btnCadastrar" type="submit">Cadastrar</button>
            </form>
        </section>
    </main>
    <footer>
        <p>Todos os direitos reservador para <a target="_blank" href="https://github.com/DevzVictor">Victor</a></p>
        <p>Dados retirados de <a target="_blank" href="https://www.amazon.com.br">Amazon</a></p>
    </footer>
</body>
</html>